@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Rosario:ital,wght@0,300..700;1,300..700&family=Ysabeau+Infant:ital,wght@0,1..1000;1,1..1000&family=Ysabeau:ital,wght@0,1..1000;1,1..1000&display=swap');

@font-face {
  font-family: 'Audrey-Normal';
  src: url('/fonts/audrey/Audrey-Normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Audrey-Bold';
  src: url('/fonts/audrey/Audrey-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Audrey-Italic';
  src: url('/fonts/audrey/Audrey-NormalOblique.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

html {
  background: #fdfffb;
  color: #1f1f1f;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
}

h1,
h2 {
  font-family: 'Belleza', sans-serif;
  text-transform: uppercase;
}

h1 {
  letter-spacing: 0.2rem;
  font-weight: 300;
  font-size: 1rem;
  width: 100%;
}

h2 {
  letter-spacing: 0.05rem;
}

h3 {
  font-weight: 500;
  color: #1f1f1f;
}

h4 {
}
button {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-weight: 400;
}

a::after {
  display: block;
  content: '';
  border-bottom: solid 1px currentColor;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
}

a:hover::after {
  transform: scaleX(1);
}

.noHover::after {
  border: none;
}

.logo {
  max-width: fit-content;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.logo img {
  margin-bottom: 0.3rem;
}

.logo a {
  color: #1f1f1f;
  font-size: 1.2rem;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Audrey-Normal';
  max-width: fit-content;
}
@media screen and (min-width: 375px) {
  .logo a {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1020px) {
  .logo a {
    font-size: 1.8rem;
  }
}
input,
textarea,
select {
  color: #1f1f1f;
  border-style: solid;
  border-width: 1px;
  padding: 0.3rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1020px) {
  h1 {
    font-size: 1.5rem;
  }
}
a.disabled {
  pointer-events: none;
  cursor: default;
  color: #444c41;
  background: #f1f3f0;
}

.dateRangePicker div {
  border-radius: 0px !important;
  border-style: 1px solid !important;
  border-color: rgb(118, 118, 118);
}

.dateRangePicker input {
  border-style: 1px solid #1f1f1f !important;
  padding-left: 0.3rem !important;
}

.dateRangePicker svg {
  color: rgb(118, 118, 118);
}
