@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&amp;display=swap');

@font-face {
  font-family: 'Audrey-Normal';
  src: url('/public/fonts/audrey/Audrey-Normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Audrey-Bold';
  src: url('/public/fonts/audrey/Audrey-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Audrey-Italic';
  src: url('/public/fonts/audrey/Audrey-NormalOblique.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

body {
  font-family: 'Audrey-Normal', sans-serif;
}

h1 {
  font-family: 'Audrey-Bold', sans-serif;
}
